
<% if (title) { %>
<h1 class="register-title"><%= title %></h1>

<div class="register-page">


<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<%- register %>

</div>

<% } else {

  res.redirect('/')
} %>

<%# message%>
