<nav class="nav">
    <ul>
        <li class="one"><a href="#">Home</a></li>
        <li class="two"><a href="#">Custom</a></li>
        <li class="three"><a href="#">Sedan</a></li>
        <li class="four"><a href="#">SUV</a></li>
        <li class="five"><a href="#">Truck</a></li>
    </ul>
</nav>