<div id="main_page">
<H1>Welcome to CSE Motors</H1>
<div id="DMC">
    DMC Delorean
    3 Cup Holders
    Superman doors 
    Fuzzy dicet 
</div>
<button id="btn-1">Own Today</button>
<img src="/images/vehicles/delorean.jpg">
</div>