<div id="main_page">
<H1>Welcome to CSE Motors</H1>
<textarea>
    DMC Deloreann/
    3 Cup Holdersn/ 
    Superman doorsn/ 
    Fuzzy dicetn/ 
</textarea>
<img src="/images/site/own_today.png">
<img src="/images/vehicles/delorean.jpg">
</div>