<div id="main_content">
<h2 id="Welcome">Welcome to CSE Motors</h2>
<div id="DMC">
    DMC Delorean
    3 Cup Holders
    Superman doors 
    Fuzzy dicet 
    <button id="btn-1">Own Today</button>
</div id="delorean_image">
<img src="/images/vehicles/delorean.jpg">
</div>
<div id="review">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and love it!" (5/5)</li>
    </ul>
</div>
<div class="upgrades">
    <h2 class="upgrade_title">Delorean Upgrades</h2>
    <div class="flux">
        <img src="/images/upgrades/flux-cap.png">
        </br>
        <a href="#">Flux Capacitor</a>
    </div>
    <div class="flame">
        <img src="/images/upgrades/flame.jpg">
        </br>
        <a href="#">Flame Decals</a>
    </div>
    <div class="bumper">
        <img src="/images/upgrades/bumper_sticker.jpg">
        </br>
        <a href="#">Bumper Stickers</a>
    </div>
    <div class="hub">
        <img src="/images/upgrades/hub-cap.jpg">
        </br>
        <a href="#">Hub Caps</a>
    </div>
    </div>
</div>