/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.background-image {
  border-image-repeat: repeat;
  background-repeat: repeat-x;
}
footer {
  background-color: blue;
}