/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*******header*******/
header {
  background-color: white;
  color: black;
  padding: 15px;
  display: grid;
  grid-template-columns: 100px auto 100px;
}
.siteName {
  font-size: 1.6em;
  grid-column: 1/2;
  grid-row: 1;
  white-space: nowrap;
  justify-items: left;
}
#tools {
  grid-column: 3/4;
  grid-row: 1;
  white-space: nowrap;
  justify-items: right;
}
header a {
  color: black;
  text-decoration: none;
}

/*******nav*******/
.nav {
  background-color: black;
  color: white;
  padding: 1px;
  padding-right: 10px;
}
nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 5;
  grid-row: 1;
}
nav a {
  color: white;
  text-decoration: none;
}

/*******footer*******/
footer {
  background-color: white;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: 100px auto 100px;
}
.copyright {
  white-space: nowrap;
  grid-column: 1;
  grid-row: 1;
}

/*******body*******/
body {
  background-color: white;
  background-image: url("/images/site/checkerboard.jpg");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}
#wrapper {
  padding: 20px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.main_content {
  background-color: white;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.Welcome {
  white-space: nowrap;;
  grid-column: 1/2;
  grid-row: 1;
}
#btn-1 {
 background-color: cyan;
 color: black;
}
.DMC {
  height: 125px;
  width: 125PX;
  color: cyan;
  background-color:rgba(rgba(255, 255, 255, 0.51), green, blue, 5);
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
}
.delorean_image {
  max-width: 550px;
  height: auto;
  grid-column: 1/4;
  grid-row: 2;
}

/*******review*******/
.review {
  height: auto;
  max-width: 450px;
  background-color: white;
  color: black;
  grid-column: 1/4;
  grid-row: 3;
}
.review_title {
  white-space: nowrap;
}

/*******upgrades*******/
.upgrades {
  height: auto;
  max-width: 450px;
  grid-column: 1/4;
  grid-row: 4;
}
.upgrades_options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}
.upgrade_title {
  white-space: nowrap;
  grid-column: 1;
  grid-row: 1/2;
}
.flux {
  grid-column: 1;
  grid-row: 2;
}
.flame {
  grid-column: 2;
  grid-row: 2;
}
.bumper {
  grid-column: 1;
  grid-row: 3;
}
.hub {
  grid-column: 2;
  grid-row: 3;
}
a {
  white-space: nowrap;
}


@media only screen and (min-width: 580) {
 body{
  
  /*******review*******/
  .review {
    height: auto;
    max-width: 450px;
    grid-column: 1/2;
    grid-row: 3;
  }

  /*******upgrades*******/
  .upgrades {
    height: auto;
    max-width: 450px;
    grid-column: 3/4;
    grid-row: 3;
  }
 }
}