<% if (title) { %>
<h1 class="new-class-title"><%= title %></h1>

<div class="add-classification">

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- addClassification %>
</div>

<% } else {

  res.redirect('/')
} %> 



