<% if (title) { %>
<h1 class="management-title"><%= title %></h1>
<div class="notice">
<%- messages()%>
</div>
<div class="management-page">
<%- managementView %>
</div>

<% } else {

  res.redirect('/')
} %>

<%# message%>