<% if (title) { %>
<h1 class="vehicle_title"><%= title %></h1>
<div class="notice">
<%- messages()%>
</div>
<div class="management">
<%- managementView %>
</div>

<% } else {

  res.redirect('/')
} %>

<%# message%>